.featuredProducts {
    padding: 100px 200px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        h1 {
            flex: 2;
            text-transform: capitalize;
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .slick-prev {
        color: unset; /* Đặt màu bạn muốn ở đây */
        top: 30%;
    }

    /* Đặt màu cho mũi tên sang phải */
    .slick-next {
        color: unset; /* Đặt màu bạn muốn ở đây */
        top: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .featuredProducts {
        padding: 3em;
    }
}
